
%ul.sidebar.navbar-nav
  .sidebarToggle.btn-slide.btn-admin-slide.d-sm-none.d-lg-block.d-md-block
    .navbar-toggler-icon{:onclick => "myFunction(this)"}
      %i.fas.fa-arrow-left
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'dashboard' ? 'active' : ''}
    = link_to user_dashboard_path(current_user, search_type: 'all'), class: "nav-link" do
      = image_tag "dashboard-icon.png", class: 'hide'
      = image_tag "dashboard-icon-hover.png", class: 'show'
      %span Dashboard
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'configuration' ? 'active' : ''}
    = link_to user_configuration_path(current_user), class: "nav-link" do
      = image_tag "setting.png", class: 'show'
      = image_tag "setting-hover.png", class: 'hide'
      %span Configuration
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'widgets' ? 'active' : ''}
    = link_to user_widgets_path(current_user), class: 'nav-link' do
      %i.fas.fa-microphone.mr-1
      %span Widgets
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'api' ? 'active' : ''}
    = link_to user_api_path(current_user), class: 'nav-link' do
      %i.fas.fa-share-alt
      %span Api


  %p.copy-right.text-center
    © Right Reply 2019