
%ul.sidebar.navbar-nav
  .sidebarToggle.btn-slide.btn-admin-slide.d-sm-none.d-lg-block.d-md-block
    .navbar-toggler-icon{:onclick => "myFunction(this)"}
      %i.fas.fa-arrow-left
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'dashboard' ? 'active' : ''}
    = link_to user_dashboard_path(current_user, search_type: 'all'), class: "nav-link" do
      = image_tag "dashboard-icon.png", class: 'hide'
      = image_tag "dashboard-icon-hover.png", class: 'show'
      %span Dashboard
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'configuration' ? 'active' : ''}
    = link_to user_configuration_path(current_user), class: "nav-link" do
      = image_tag "setting.png", class: 'show'
      = image_tag "setting-hover.png", class: 'hide'
      %span Configuration
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'widgets' ? 'active' : ''}
    = link_to user_widgets_path(current_user), class: 'nav-link' do
      = image_tag "mic.png", class: 'show'
      = image_tag "mic_hover.png", class: 'hide'
      %span Widgets
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'api' ? 'active' : ''}
    = link_to user_api_path(current_user), class: 'nav-link' do
      / %i.fas.fa-share-alt
      = image_tag "api.png", class: 'show'
      = image_tag "api_hover.png", class: 'hide'
      %span Api
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'subscription' ? 'active' : ''}
    = link_to user_subscription_path(current_user), class: 'nav-link' do
      / %i.fas.fa-key
      = image_tag "plans.png", class: 'show'
      = image_tag "plans_hover.png", class: 'hide'
      %span Subscription
      
  %li.nav-item{class: params[:controller] == 'users' && params[:action] == 'contact_us' ? 'active' : ''}
    = link_to user_contact_us_path(current_user), class: 'nav-link' do
      / %i.fas.fa-envelope-open-text
      = image_tag "contact.png", class: 'show'
      = image_tag "contact_hover.png", class: 'hide'
      %span Contact Us
  


  %p.copy-right.text-center
    © Right Reply 2019