#page-top
  #wrapper
    / Sidebar
    = render partial: 'sidebar_menu'
    #content-wrapper.pb-3
      .container-fluid
        .row
          .col-md-6
            %h4
              Sites
          .col-md-6
            .text-right    
              = link_to 'Add New Site', new_user_site_path(current_user), class: "btn btn-dark rounded-pill pl-4 pr-4 pt-2 pb-2"

        .row.mt-4
          .col-md-12
            .graph-box
              %table.table.table-striped
                %thead
                  %tr
                    %th{:scope => "col"} #
                    %th{:scope => "col"} Site Name
                    %th{:scope => "col"} Site URl
                    %th{:scope => "col"} Company number
                    %th{:scope => "col", :width => "12%" } Actions
                %tbody
                  - @sites.each_with_index do |site, index|
                    %tr
                      %td
                        = index+1
                      %td
                        = site.site_name
                      %td
                        = site.site_url
                      %td
                        = site.company_number
                      %td
                        = link_to user_site_site_configuration_form_path(user_id: @user.id, site_id: site.id), class: "btn btn-outline-success btn-sm mr-2 rounded-circle" do
                          %i.fas.fa-cog
                        = link_to edit_user_site_path(user_id: @user.id, id: site.id), class: "btn btn-outline-primary btn-sm mr-2 rounded-circle" do
                          %i.fas.fa-pencil-alt
                        
                        = link_to user_site_path(user_id: @user.id, id: site.id), method: :delete, class: "btn btn-outline-danger btn-sm rounded-circle", :data => {:confirm => 'Are you sure you want to delete the entire site?'} do
                          %i.far.fa-trash-alt                            