#page-top
  #wrapper
    / Sidebar
    = render partial: 'sidebar_menu'
    #content-wrapper.pb-3
      .container-fluid
        .row.mb-1
          .col-md-12
            %h4.float-left Overview
            .float-right.select-date
              %span.mr-2
                View Record by
              = link_to '24 hours', user_dashboard_path(current_user, search_type: '24_hour'), class: "btn btn-primary #{params[:search_type] == '24_hour' ? 'active' : ''}"

              = link_to 'Week', user_dashboard_path(current_user, search_type: 'week'), class: "btn btn-primary #{params[:search_type] == 'week' ? 'active' : ''}"
              = link_to 'Month', user_dashboard_path(current_user, search_type: 'month'), class: "btn btn-primary #{params[:search_type] == 'month' ? 'active' : ''}"
              = link_to 'Year', user_dashboard_path(current_user, search_type: 'year'), class: "btn btn-primary #{params[:search_type] == 'year' ? 'active' : ''}"
              = link_to 'All', user_dashboard_path(current_user, search_type: 'all'), class: "btn btn-primary #{params[:search_type] == 'all' ? 'active' : ''}"

              %button.btn.btn-dark
                = image_tag "download.png"
                Download           
        %ol.breadcrumb.d-none
          %li.breadcrumb-item
            = link_to 'Dashboard', user_dashboard_path(current_user)
          %li.breadcrumb-item.active Overview
        / Icon Cards
        .row.mobile-view.row-eq-height
          .col-xl-8.col-lg-12.col-md-12.h-100
            .row.d-none
              .col-md-12
                %ul.status-report
                  %li
                    = link_to '24 Hr'
                  %li
                    = link_to 'Week'
                  %li
                    = link_to 'Month'
                  %li
                    = link_to 'Year'
                  %li
                    = link_to 'All'
                  %li.float-right
                    .btn.btn-primary.btn-sm
                      %i.fas.fa-download
            .card.mb-bottom.graph-box.apply-hight
              .card-header
                %h5
                  Search Requests
              .card-body
                = line_chart @analytics.group_by_day(:created_at).count, ytitle: "Count", download: {filename: "search_requests"}
          
          .col-md-12.col-xl-4.col-lg-12.h-100.get-height
            .row
              .col-lg-6.col-md-12.mb-bottom
                .card.text-white.o-hidden.h-100.bg-37.search-box
                  %h5 
                    Total 
                    %br
                    Searches
                  %h1
                    %span.count-this
                      = @total_searches
              .col-lg-6.col-md-12.mb-bottom
                .card.text-white.o-hidden.h-100.bg-2d5.search-box
                  %h5 
                    Average Searches
                    %br per Min
                  %h1
                    %span.count-this
                      = @avg_searches_per_min
              .col-lg-6.col-md-12.mb-bottom
                .card.text-white.o-hidden.h-100.bg-1a1.search-box
                  %h5 
                    Average Text
                    %br 
                    Processing Time (Ms)
                  %h1 
                    %span.count-this
                      = @avg_processing_time
                  
              .col-lg-6.col-md-12.mb-bottom
                .card.text-white.o-hidden.h-100.bg-5f6.search-box
                  %h5 
                    Average Search
                    %br
                    Response Time (Ms)
                  %h1
                    %span.count-this
                      = @avg_search_response
                      
        .row.mobile-view.row-eq-height
          .col-xl-8.col-lg-12.col-md-12.h-100
            .card.mb-3.graph-box
              .card-header
                %h5
                  Search Response Time
              .card-body
                = line_chart @analytics.group_by_day(:created_at).sum(:search_reponse_time), ytitle: "Ms", download: {filename: "search_response_time"}
          
          .col-md-12.col-xl-4.col-lg-12.h-100
                 
            .row
              .col-md-12.mb-3
                .card.bg-default.o-hidden.h-100.text-center.graph-box
                  .search-title
                    %h5.float-left.mb-0
                      Search History
                    .float-right
                      %button.btn.btn-dark
                        = image_tag "download.png"
                        Download
                  .card-body.pb-0
                    %ul.search-result
                      - @search_histories.each do |search_history|
                        %li
                          = search_history.search_string

                    
                             

      
