#page-top
  #wrapper
    / Sidebar
    = render partial: 'sidebar_menu'
    #content-wrapper.pb-3
      .container-fluid
        .row.mb-1
          .col-md-12
            %h4.float-left Overview
            .float-right.select-date
              %span.mr-2
                View Record by
              %button.btn.btn-primary
                24 hours
              %button.btn.btn-primary
                Week
              %button.btn.btn-primary
                Month
              %button.btn.btn-primary
                Year
              %button.btn.btn-primary
                All
              %button.btn.btn-dark
                = image_tag "download.png"
                Download           
        %ol.breadcrumb.d-none
          %li.breadcrumb-item
            = link_to 'Dashboard', user_dashboard_path(current_user)
          %li.breadcrumb-item.active Overview
        / Icon Cards
        .row.mobile-view
          .col-xl-8.col-lg-12.col-md-12
            .row.d-none
              .col-md-12
                %ul.status-report
                  %li
                    = link_to '24 Hr'
                  %li
                    = link_to 'Week'
                  %li
                    = link_to 'Month'
                  %li
                    = link_to 'Year'
                  %li
                    = link_to 'All'
                  %li.float-right
                    .btn.btn-primary.btn-sm
                      %i.fas.fa-download
            .card.mb-bottom.graph-box
              .card-header
                %h5
                  Search Requests
              .card-body
                = line_chart User.group_by_day(:created_at).count, download: {filename: "search_requests"}

            .card.mb-3.graph-box
              .card-header
                %h5
                  Search Response Time
              .card-body
                = line_chart User.group_by_day(:created_at).count, download: {filename: "search_response_time"}
          
          .col-md-12.col-xl-4.col-lg-12
            .row
              .col-lg-6.col-md-12.mb-bottom
                .card.text-white.o-hidden.h-100.bg-37.search-box
                  %h5 
                    Total 
                    %br
                    Searches
                  %h1
                    %span.count-this 99
              .col-lg-6.col-md-12.mb-bottom
                .card.text-white.o-hidden.h-100.bg-2d5.search-box
                  %h5 
                    Average Searches
                    %br per Min
                  %h1
                    %span.count-this 29
              .col-lg-6.col-md-12.mb-bottom
                .card.text-white.o-hidden.h-100.bg-1a1.search-box
                  %h5 
                    Average Text
                    %br 
                    Processing Time (Ms)
                  %h1 
                    %span.count-this 3.1
                  
              .col-lg-6.col-md-12.mb-bottom
                .card.text-white.o-hidden.h-100.bg-5f6.search-box
                  %h5 
                    Average Search
                    %br
                    Response Time (Ms)
                  %h1
                    %span.count-this 3.1
                      
            .row
              .col-md-12.mb-3
                .card.bg-default.o-hidden.h-100.text-center.graph-box
                  .search-title
                    %h5.float-left.mb-0
                      Search History
                    .float-right
                      %button.btn.btn-dark
                        = image_tag "download.png"
                        Download
                  .card-body.pb-0
                    %ul.search-result
                      %li
                        Black Shoes Black Shoes Black Shoes Black Shoes Black Shoes Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes                   
                    
                             

      
