#page-top
  #wrapper
    / Sidebar
    = render partial: 'sidebar_menu'
    #content-wrapper.pb-3
      .container-fluid
        
        / Breadcrumbs
        %ol.breadcrumb
          %li.breadcrumb-item
            = link_to 'Dashboard', user_dashboard_path(current_user)
          %li.breadcrumb-item.active Overview
        / Icon Cards
        .row
          .col-md-9
            .row
              .col-md-12
                %ul.status-report
                  %li
                    = link_to '24 Hr'
                  %li
                    = link_to 'Week'
                  %li
                    = link_to 'Month'
                  %li
                    = link_to 'Year'
                  %li
                    = link_to 'All'
                  %li.float-right
                    .btn.btn-primary.btn-sm
                      %i.fas.fa-download
            .card.mb-3
              .card-header
                %h5
                  Search Requests
              .card-body
                = line_chart User.group_by_day(:created_at).count, download: {filename: "search_requests"}

            .card.mb-3
              .card-header
                %h5
                  Search Response Time
              .card-body
                = line_chart User.group_by_day(:created_at).count, download: {filename: "search_response_time"}
          
          .col-md-3
            .row
              .col-md-12.mb-3
                .card.text-white.bg-primary.o-hidden.h-100.text-center
                  .card-body
                    %h6 
                      Total Searches
                  .card-footer.text-white.clearfix.small.z-1
                    %h1
                      %span.count-this 99
            .row
              .col-md-12.mb-3
                .card.text-white.bg-primary.o-hidden.h-100.text-center
                  .card-body
                    %h6 
                      Average Searches per Min
                  .card-footer.text-white.clearfix.small.z-1
                    %h1
                      %span.count-this 29
            .row
              .col-md-12.mb-3
                .card.text-white.bg-primary.o-hidden.h-100.text-center
                  .card-body
                    %h6 
                      Average Text Processing Time
                  .card-footer.text-white.clearfix.small.z-1
                    %h1 
                      %span.count-this 3.1
                      %sub
                        (Ms)
            .row
              .col-md-12.mb-3
                .card.text-white.bg-primary.o-hidden.h-100.text-center
                  .card-body
                    %h6 
                      Average Search Response Time
                  .card-footer.text-white.clearfix.small.z-1
                    %h1
                      %span.count-this 3.1
                      %sub
                        (Ms)
            .row
              .col-md-12.mb-3
                .card.bg-default.o-hidden.h-100.text-center
                  .card-header
                    %h5.float-left
                      Search History
                    .float-right.mt-1
                      %a
                        %i.fas.fa-download
                  .card-body.pb-0
                    %ul.search-result
                      %li
                        Black Shoes Black Shoes Black Shoes Black Shoes Black Shoes Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes
                      %li
                        Black Shoes                   
                    
                             

      
