%header
  %nav.navbar.navbar-expand-lg.fixed-top.navbar-white.bg-white.justify-content-between
    = link_to root_path, class: "navbar-brand #{params[:controller] == 'home' && params[:action] == 'index' ? 'scroll-home' : ''}" do
      .logo.d-lg-block
        = image_tag "right-reply-logo.png"
    .sidebarToggle.btn-slide.d-md-none.d-lg-none
      .navbar-toggler-icon{:onclick => "myFunction(this)"}
        %i.fas.fa-arrow-left  
    / Navbar Search
    %form.d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0
      .input-group.d-none
        %input.form-control{"aria-describedby" => "basic-addon2", "aria-label" => "Search", :placeholder => "Search for...", :type => "text"}/
        .input-group-append
          %button.btn.btn-primary{:type => "button"}
            %i.fas.fa-search
    / Navbar
    %ul.navbar-nav.ml-auto.ml-md-0
      %li.nav-item.dropdown.no-arrow.profile-thum
        %a#userDropdown.nav-link.dropdown-toggle.text-dark{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .profile-img
            = image_tag "avatar.png"
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "userDropdown"}
          %a.dropdown-item{:href => "#"} Settings
          %a.dropdown-item{:href => "#"} Activity Log
          .dropdown-divider
          = link_to('Logout', destroy_user_session_path, method: :delete, id: "dropdownMenuButton", class: "dropdown-item")
        