%header
  %nav.navbar.navbar-expand-lg.fixed-top.navbar-white.bg-white.justify-content-between
    .navbar-header
      %a.navbar-brand{:href => "#"}
        .logo.d-lg-block
          = image_tag "right-reply-logo.png"
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        .navbar-toggler-icon{:onclick => "myFunction(this)"}
          .bar1
          .bar2
          .bar3
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navigation.nav.navbar-nav.ml-auto
        %li#link_1.d-inline-block.active
          %a{:href => "#home"} Home
        %li#link_2.d-inline-block
          %a{:href => "#about"} About
        %li#link_3.d-inline-block
          %a{:href => "#features"} Features
        %li#link_4.d-inline-block
          %a{:href => "#pricing"} Pricing
        %li#link_5.d-inline-block
          %a{:href => "#contact"} Contact
    
    .login-buttons
      .login-hover.hover-effects-login
        %a#dropdownMenuButton.login-button.d-inline-block.buttons{:href => "javascript:void(0)"}
          = user_signed_in? ? current_user.first_name : 'login'
        .dropdown
          .dropdown-menu.dropdown-menu-right#login_dropdown{"aria-labelledby" => "dropdownMenuButton"}
            .row
              .col-12.col-sm-12.col-md-12.col-xl-12
                - @user = User.new
                = form_for(@user , url: session_path(@user), html: {class: "form-signin login-form parsley-validate"}) do |f|
                  .form-label-group.icon
                    = f.email_field :email, placeholder: "Email", class: "form-control", data: {"parsley-required": true, "parsley-type": "email"}
                    %i.fas.fa-envelope
                  .form-label-group.icon
                    = f.password_field :password, placeholder: "Password", class: "form-control", data: {"parsley-required": true}
                    %i.fas.fa-lock
                  .custom-control.custom-checkbox.mb-3
                    .float-left
                      = f.check_box :remember_me, class: "custom-control-input", id: "customCheck1"
                      %label.custom-control-label{:for => "customCheck1"} Remember me
                    .float-right.forgot-pass
                      %a#forgot_password{:href => "javascript:void(0);"} Forgot Password?
                  %button.btn.btn-lg.btn-primary.btn-block.submit-button{:type => "submit"} Login
                .already-account
                  %p
                    Dont have an account?
                    %a#sign_up{:href => "javascript:void(0);"} Sign Up
        .dropdown
          .dropdown-menu.dropdown-menu-right#forgot_password_dropdown{"aria-labelledby" => "dropdownMenuButton"}
            .row
              .col-12.col-sm-12.col-md-12.col-xl-12
                - @user = User.new
                = form_for(@user , url: password_path(@user), html: {class: "form-signin login-form parsley-validate"}) do |f|
                  .form-label-group.icon
                    = f.email_field :email, placeholder: "Email", class: "form-control", data: {"parsley-required": true, "parsley-type": "email"}
                    %i.fas.fa-envelope
                  %button.btn.btn-lg.btn-primary.btn-block.submit-button{:type => "submit"} Send Instructions
                .already-account
                  %p
                    Already have an account?
                    %a#forgot_login_btn{:href => "javascript:void(0);"} Login
        .overlay
      - unless user_signed_in?
        .login-hover.hover-effects-signup
          %a#dropdownMenuButton.signup-button.d-inline-block.buttons{:href => "javascript:void(0)"} Sign Up
          .dropdown.sign-up
            .dropdown-menu.dropdown-menu-right#signup_dropdown{"aria-labelledby" => "dropdownMenuButton"}
              .row
                .col-12.col-sm-12.col-md-12.col-xl-12
                  = form_for(@user, url: registration_path(@user), html: {class: "form-signin login-form.sign_up parsley-validate"}) do |f|
                    .row
                      .col-sm-6
                        .form-label-group
                          = f.text_field :first_name, placeholder: "First Name", class: "form-control", data: {"parsley-required": true}
                      .col-sm-6
                        .form-label-group
                          = f.text_field :last_name, placeholder: "Last Name", class: "form-control", data: {"parsley-required": true}
                    .form-label-group
                      = f.email_field :email, placeholder: "Email", class: "form-control", data: {"parsley-required": true, "parsley-type": "email"}
                    .form-label-group
                      = f.password_field :password, placeholder: "Password", class: "form-control", data: {"parsley-required": true}
                    .form-label-group
                      = f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control", data: {"parsley-required": true}
                    %button.btn.btn-lg.btn-primary.btn-block.submit-button{:type => "submit"} Sign up
                  .already-account
                    %p
                      Already have an account ?
                      %a#login{:href => "javascript:void(0);"} Login
          .overlay
      - else
        .login-hover.hover-effects-signout
          = link_to('Logout', destroy_user_session_path, method: :delete, id: "dropdownMenuButton", class: "signup-button d-inline-block buttons")