:css
  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
  }

  #right-reply-widget {
    position: fixed;
    right: 5px;
    bottom: 5px;
    text-align: center;
    z-index: 999999;
  }
  #right-reply-widget .widget-circle {
    box-shadow: 0px 6px 20px 1px #bbb 61;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: #{@site.site_configuration.widget_shape == 'Rounded' ? '100%' : '0'};
    width: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1000;
    height: 80px;
    background-color: ##{@site.site_configuration.widget_fill_color};
    border-color: ##{@site.site_configuration.widget_border_color};
  }
  #right-reply-widget .widget-circle.apply-class {
    background-color: ##{@site.site_configuration.widget_fill_color_active} !important;
    border-color: ##{@site.site_configuration.widget_border_color_active} !important;
    cursor: pointer;
  }
  #right-reply-widget .widget-circle.apply-class i {
    color: ##{@site.site_configuration.widget_icon_color_active} !important;
  }
  #right-reply-widget .widget-circle.apply-class:hover {
    cursor: pointer;
  }
  #right-reply-widget .widget-circle:hover {
    background-color: ##{@site.site_configuration.widget_fill_color_hover};
    cursor: pointer;
  }
  #right-reply-widget .widget-circle img {
    width: 35px;
    margin: auto;
  }
  #right-reply-widget .widget-circle i {
    color: ##{@site.site_configuration.widget_icon_color};
    width: 35px;
    margin: auto;
  }
  #right-reply-widget .widget-circle i:hover {
    color: ##{@site.site_configuration.widget_icon_color_hover};
    width: 35px;
    margin: auto;
  }
  #right-reply-widget .widget-text {
    width: 0;
    height: 80px;
    position: absolute;
    right: 8px;
    transition: all 0.3s linear 0s;
    display: none;
    bottom: 0;
    border-radius: 100%;
  }
  #right-reply-widget .widget-text input {
    width: 100%;
    padding-left: 30px;
    font-size: 20px;
    box-shadow: -6px 1px 20px 3px #575d6d 1c;
    border: none;
    height: 80px;
    border-radius: 50px;
  }

          