#page-top
  #wrapper
    / Sidebar
    = render partial: 'users/sidebar_menu'
    #content-wrapper.pb-3
      .container-fluid
        .row
          .col-md-6
            %h4
              Site Configuration

        .row.mt-4
          .col-md-12
            .graph-box.p-5
              = form_tag(@site.site_configuration.id.present? ? user_site_update_site_configuration_path(user_id: @user.id, site_id: @site.id) : user_site_add_site_configuration_path(user_id: @user.id, site_id: @site.id), method: "#{@site.site_configuration.present? ? 'post' : 'new'}") do
                = hidden_field_tag 'user_id', @user.id
                = hidden_field_tag 'site_id', @site.id
                .row
                  .col-md-6
                    .form-group
                      = label_tag :return_results_on_rendered_page, class: 'radio-inline' do
                        = radio_button_tag 'render_options', 'return_results_on_rendered_page', (@site_configuration.id.present? ? @site_configuration.return_results_on_rendered_page : true), id: 'return_results_on_rendered_page', class: 'render-options'
                        Return results on rendered page
                  .col-md-6    
                    .form-group
                      = label_tag :return_results_on_customer_webpage, class: 'radio-inline' do
                        = radio_button_tag 'render_options', 'return_results_on_customer_webpage', (@site_configuration.id.present? ? @site_configuration.return_results_on_customer_webpage : false), id: 'return_results_on_customer_webpage', class: 'render-options'
                        Return results on customer webpage
                .form-group.d-none
                  = label_tag :custom_search_results_url
                  = text_field_tag :custom_search_results_url, (@site_configuration.present? ? @site_configuration.custom_search_results_url : nil), class: "form-control form-control-lg rounded-pill"
                .form-group
                  = label_tag :search_icon_color
                  .input-group.mb-2.icon-left
                    .input-group-prepend
                      .input-group-text
                        %i.fas.fa-eye-dropper
                    = text_field_tag :search_icon_color, (@site_configuration.present? ? @site_configuration.search_icon_color : nil), class: "form-control form-control-lg"
                .form-group  
                  = label_tag :search_icon_text
                  = text_field_tag :search_icon_text, (@site_configuration.present? ? @site_configuration.search_icon_text : nil), class: "form-control form-control-lg rounded-pill"
                .form-group
                  = label_tag :search_box_size
                  = text_field_tag :search_box_size, (@site_configuration.present? ? @site_configuration.search_box_size : nil), class: "form-control form-control-lg rounded-pill d-none"
                  %select.custom-select.mr-sm-2.form-control.form-control-lg.rounded-pill
                    %option{:selected => "selected"} Choose...
                    %option{:value => "1"} One
                    %option{:value => "2"} Two
                    %option{:value => "3"} Three

                .form-group
                  = label_tag :search_box_shape
                  = text_field_tag :search_box_shape, (@site_configuration.present? ? @site_configuration.search_box_shape : nil), class: "form-control form-control-lg rounded-pill d-none"
                  %select.custom-select.mr-sm-2.form-control.form-control-lg.rounded-pill
                    %option{:selected => "selected"} Choose...
                    %option{:value => "1"} One
                    %option{:value => "2"} Two
                    %option{:value => "3"} Three
                .form-group
                  = label_tag :search_box_fill_color
                  .input-group.mb-2.icon-left
                    .input-group-prepend
                      .input-group-text
                        %i.fas.fa-eye-dropper
                    = text_field_tag :search_box_fill_color, (@site_configuration.present? ? @site_configuration.search_box_fill_color : nil), class: "form-control form-control-lg rounded-pill"
                .form-group
                  = label_tag :search_box_border_color
                  .input-group.mb-2.icon-left
                    .input-group-prepend
                      .input-group-text
                        %i.fas.fa-eye-dropper
                    = text_field_tag :search_box_border_color, (@site_configuration.present? ? @site_configuration.search_box_border_color : nil), class: "form-control form-control-lg rounded-pill"
                .form-group  
                  = label_tag :search_box_placeholder_text
                  = text_field_tag :search_box_placeholder_text, (@site_configuration.present? ? @site_configuration.search_box_placeholder_text : nil), class: "form-control form-control-lg rounded-pill"
                .form-group.mt-4
                  = submit_tag "#{@site.site_configuration.id.present? ? 'Update' : 'Submit'}", :class => 'btn btn-dark rounded-pill btn-custom  float-right'
                  = link_to 'Cancel', user_configuration_path(current_user), :class => 'btn btn-primary rounded-pill pl-4 pr-4 btn-custom'