= form_tag(@site.site_configuration.id.present? ? user_site_update_site_configuration_path(user_id: @user.id, site_id: @site.id) : user_site_add_site_configuration_path(user_id: @user.id, site_id: @site.id), method: "#{@site.site_configuration.present? ? 'post' : 'new'}") do
  = hidden_field_tag 'user_id', @user.id
  = hidden_field_tag 'site_id', @site.id
  = label_tag :return_results_on_rendered_page
  = check_box_tag 'return_results_on_rendered_page', (@site_configuration.present? ? @site_configuration.return_results_on_rendered_page : false), (@site_configuration.present? ? @site_configuration.return_results_on_rendered_page : false)

  = label_tag :return_results_on_customer_webpage
  = check_box_tag 'return_results_on_customer_webpage', (@site_configuration.present? ? @site_configuration.return_results_on_customer_webpage : false), (@site_configuration.present? ? @site_configuration.return_results_on_customer_webpage : false)

  = label_tag :custom_search_results_url
  = text_field_tag :custom_search_results_url, (@site_configuration.present? ? @site_configuration.custom_search_results_url : nil)

  = label_tag :search_icon_color
  = text_field_tag :search_icon_color, (@site_configuration.present? ? @site_configuration.search_icon_color : nil)

  = label_tag :search_icon_text
  = text_field_tag :search_icon_text, (@site_configuration.present? ? @site_configuration.search_icon_text : nil)

  = label_tag :search_box_size
  = text_field_tag :search_box_size, (@site_configuration.present? ? @site_configuration.search_box_size : nil)

  = label_tag :search_box_shape
  = text_field_tag :search_box_shape, (@site_configuration.present? ? @site_configuration.search_box_shape : nil)

  = label_tag :search_box_fill_color
  = text_field_tag :search_box_fill_color, (@site_configuration.present? ? @site_configuration.search_box_fill_color : nil)

  = label_tag :search_box_border_color
  = text_field_tag :search_box_border_color, (@site_configuration.present? ? @site_configuration.search_box_border_color : nil)

  = label_tag :search_box_placeholder_text
  = text_field_tag :search_box_placeholder_text, (@site_configuration.present? ? @site_configuration.search_box_placeholder_text : nil)

  = submit_tag 'submit'