#page-top
  #wrapper
    / Sidebar
    = render partial: 'users/sidebar_menu'
    #content-wrapper.pb-3
      .container-fluid
        .row
          .col-md-6
            %h4
              Site Configuration

        .row.mt-4
          .col-md-8
            .graph-box.p-5
              = form_tag(@site.site_configuration.id.present? ? user_site_update_site_configuration_path(user_id: @user.id, site_id: @site.id) : user_site_add_site_configuration_path(user_id: @user.id, site_id: @site.id), method: "#{@site.site_configuration.present? ? 'post' : 'new'}") do
                = hidden_field_tag 'user_id', @user.id
                = hidden_field_tag 'site_id', @site.id
                .row
                  .col-md-6
                    .form-group
                      = label_tag :return_results_on
                      = select_tag "return_results_on", options_for_select([ "Rendered Page", "Customer Webpage" ], "Rendered Page"), class: "custom-select mr-sm-2 form-control form-control-lg rounded-pill"
                  .col-md-6    
                    .form-group.d-block
                      = label_tag :custom_search_results_url
                      = text_field_tag :custom_search_results_url, (@site_configuration.present? ? @site_configuration.custom_search_results_url : nil), class: "form-control form-control-lg rounded-pill", readonly: true
                .row
                  .col-md-12
                    .form-group
                      = label_tag :widget_shape
                      = select_tag "widget_shape", options_for_select([ "Rectangle", "Rounded" ], "#{(@site_configuration.present? ? @site_configuration.widget_shape : 'Rectangle')}"), class: "custom-select mr-sm-2 form-control form-control-lg rounded-pill"

                .row      
                  .col-md-6
                    .form-group
                      = label_tag :widget_fill_color
                      .input-group.mb-2.icon-left
                        .input-group-prepend
                          .input-group-text
                            %i.fas.fa-eye-dropper
                        = text_field_tag :widget_fill_color, (@site_configuration.present? ? @site_configuration.widget_fill_color : nil), class: "form-control form-control-lg jscolor  {onFineChange:'update_widget_fill_color(this)'}"
                        
                  .col-md-6
                    .form-group
                      = label_tag :widget_fill_color_hover
                      .input-group.mb-2.icon-left
                        .input-group-prepend
                          .input-group-text
                            %i.fas.fa-eye-dropper
                        = text_field_tag :widget_fill_color_hover, (@site_configuration.present? ? @site_configuration.widget_fill_color_hover : nil), class: "form-control form-control-lg rounded-pill jscolor"

                .row        
                  .col-md-6
                    .form-group 
                      = label_tag :widget_icon_color
                      .input-group.mb-2.icon-left
                        .input-group-prepend
                          .input-group-text
                            %i.fas.fa-eye-dropper
                        = text_field_tag :widget_icon_color, (@site_configuration.present? ? @site_configuration.widget_icon_color : nil), class: "form-control form-control-lg rounded-pill jscolor {onFineChange:'update_widget_icon_color(this)'}"

                  .col-md-6
                    .form-group 
                      = label_tag :widget_icon_color_hover
                      .input-group.mb-2.icon-left
                        .input-group-prepend
                          .input-group-text
                            %i.fas.fa-eye-dropper
                        = text_field_tag :widget_icon_color_hover, (@site_configuration.present? ? @site_configuration.widget_icon_color_hover : nil), class: "form-control form-control-lg rounded-pill jscolor"    

                .row
                  .col-md-12      
                    .form-group  
                      = label_tag :widget_placeholder_text
                      = text_field_tag :widget_placeholder_text, (@site_configuration.present? ? @site_configuration.widget_placeholder_text : nil), class: "form-control form-control-lg rounded-pill"
                  / .col-md-6
                  /   .form-group
                  /     = label_tag :widget_placeholder_text_color
                  /     .input-group.mb-2.icon-left
                  /       .input-group-prepend
                  /         .input-group-text
                  /           %i.fas.fa-eye-dropper
                  /       = text_field_tag :widget_placeholder_text_color, (@site_configuration.present? ? @site_configuration.widget_placeholder_text_color : nil), class: "form-control form-control-lg rounded-pill jscolor"
                
                
                  

                
                
                

                / .form-group
                /   = label_tag :widget_fill_color_active
                /   .input-group.mb-2.icon-left
                /     .input-group-prepend
                /       .input-group-text
                /         %i.fas.fa-eye-dropper
                /     = text_field_tag :widget_fill_color_active, (@site_configuration.present? ? @site_configuration.widget_fill_color_active : nil), class: "form-control form-control-lg rounded-pill jscolor"
                / .form-group
                /   = label_tag :widget_icon_color_active
                /   .input-group.mb-2.icon-left
                /     .input-group-prepend
                /       .input-group-text
                /         %i.fas.fa-eye-dropper
                /     = text_field_tag :widget_icon_color_active, (@site_configuration.present? ? @site_configuration.widget_icon_color_active : nil), class: "form-control form-control-lg rounded-pill jscolor"
                / .form-group
                /   = label_tag :widget_border_color_active
                /   .input-group.mb-2.icon-left
                /     .input-group-prepend
                /       .input-group-text
                /         %i.fas.fa-eye-dropper
                /     = text_field_tag :widget_border_color_active, (@site_configuration.present? ? @site_configuration.widget_border_color_active : nil), class: "form-control form-control-lg rounded-pill jscolor"
                
                / .form-group
                /   = label_tag :widget_text_border_color
                /   .input-group.mb-2.icon-left
                /     .input-group-prepend
                /       .input-group-text
                /         %i.fas.fa-eye-dropper
                /     = text_field_tag :widget_text_border_color, (@site_configuration.present? ? @site_configuration.widget_text_border_color : nil), class: "form-control form-control-lg rounded-pill jscolor"
                .form-group.mt-4
                  = submit_tag "#{@site.site_configuration.id.present? ? 'Update' : 'Submit'}", :class => 'btn btn-dark rounded-pill btn-custom  float-right'
                  = link_to 'Cancel', user_configuration_path(current_user), :class => 'btn btn-primary rounded-pill pl-4 pr-4 btn-custom'

          .col-md-4
            .graph-box.p-5.custom-padding
              %label
                Widget Preview
              #right-reply-widget
                = link_to 'javascript:void(0);', class: ' btn btn-primary wow fadeInRight', id: 'speech_icon' do
                  .widget-circle#show.round-widget
                    %i.fas.fa-2x.fa-microphone
                .widget-text
                  = text_field_tag 'text', nil, placeholder: "#{@site.site_configuration.present? ? @site.site_configuration.widget_placeholder_text : 'Speak now...'}", readonly: true

:javascript
  
  $('#show').css('background', '#'+$('#widget_fill_color').val())
  $('#show i').css('color', '#'+$('#widget_icon_color').val())
  $('.widget-text #text').attr('placeholder', $('#widget_placeholder_text').val())

  if ($('#widget_shape').val() == 'Rounded'){
    $('#show').addClass('round-widget').removeClass('rectangle-widget')
  } else {
    $('#show').addClass('rectangle-widget').removeClass('round-widget')
  }

  function update_widget_fill_color(jscolor){
    $('#show').css('background', '#'+jscolor)
  }

  function update_widget_icon_color(jscolor){
    $('#show i').css('color', '#'+jscolor)
  }

  $('body').on('keyup', '#widget_placeholder_text', function(){
    $('.widget-text #text').attr('placeholder', $(this).val())
  })