.container-fluid
  .row.pt-5
    .col-md-12
      %h4
        Edit #{resource_name.to_s.humanize}
  .row.pt-4
    .col-md-12
      .graph-box.p-5    
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .form-group  
            = label_tag :first_name
            = f.text_field :first_name, class: "form-control form-control-lg rounded-pill"
          .form-group  
            = f.label :last_name
            = f.text_field :last_name, class: "form-control form-control-lg rounded-pill"
          .form-group  
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg rounded-pill"
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
            = f.text_field :last_name, class: "form-control form-control-lg rounded-pill"
          .form-group  
            = f.label :current_password
            %i (we need your current password to confirm your changes)
            = f.password_field :current_password, autocomplete: "current-password", class: "form-control form-control-lg rounded-pill"  
          .form-group  
            = f.label 'New password'
            = f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg rounded-pill"
            - if @minimum_password_length
              %em
                = @minimum_password_length
                characters minimum
          .form-group  
            = f.label 'New password confirmation'
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg rounded-pill"
          .form-group.pt-3  
            .row
              .col-md-6
                = link_to "Back", :back, :class => 'btn btn-primary rounded-pill pl-4 pr-4 btn-custom'
              .col-md-6
                .text-right
                  = f.submit "Update", :class => 'btn btn-dark rounded-pill btn-custom'

